:root {
  --black: rgb(0, 0, 0);
  --light-blue: rgb(43, 83, 156);
  --clear-white: rgb(231, 216, 204);
  --grey-white: rgb(153, 143, 135);
  --orange: rgb(219, 184, 130);
}

.body {
  width: 100vw;
  height: 100vh;
  background-color: var(--clear-white);
  display: flex;
  flex-direction: column;
}

.body__h1 {
  width: 100vw;
  font-family: "Secular One", sans-serif;
  text-align: center;
}

.body__directory {
  margin: 0 auto;
}

.body__list-items {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 60vh;
  border-radius: 5px;
  box-shadow: 2px 2px 4px var(--black);
  background-color: var(--grey-white);
  margin: 0 auto;
}

.body__list-items__item {
  display: flex;
  margin-left: 1vw;
  margin-top: 1.5vh;
}

.body__list-items__item-checkbox {
  order: -1;
  margin-right: 0.5vw;
}

.body__list-items__item-text {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
}
