:root {
  --black: rgb(0, 0, 0);
  --light-blue: rgb(43, 83, 156);
  --clear-white: rgb(231, 216, 204);
  --grey-white: rgb(153, 143, 135);
  --light-grey-white: rgb(160, 158, 156);
  --orange: rgb(219, 184, 130);
}

.body {
  width: 100vw;
  height: 100vh;
  background-color: var(--clear-white);
  display: flex;
  flex-direction: column;
}

.body__h1 {
  width: 100vw;
  font-family: "Secular One", sans-serif;
  font-size: 7vh;
  font-weight: 2000;
  text-align: center;
}

.body__directory {
  margin: 0 auto;
}

.body__directory-text {
  font-family: "Secular One", sans-serif;
  color: var(--grey-white);
  text-shadow: 0.5px 0.5px 2px var(--black);
  font-weight: 500;
}

.body__list-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* sacar en responsive */
  width: 80vw;
  height: 60vh;
  border-radius: 5px;
  box-shadow: 2px 2px 4px var(--black);
  background-color: var(--grey-white);
  margin: 0 auto;
}

.body__list-items__item-todo {
  display: flex;
  align-items: center;
  height: 6vh;
  margin-left: 1vw;
  margin-top: 1vh;
}

.body__list-items__item-folder {
  display: flex;
  align-items: center;
  height: 6vh;
  margin-left: 2.5vw;
  margin-top: 1vh;
}

.body__list-items__item-todo__checkbox {
  order: -1;
  margin-right: 0.5vw;
}

.body__list-items__item-todo__text,
.body__list-items__item-folder__text {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  text-align: center;
  width: 6vw;
}

.body__list-items__item-folder__folderlink {
  width: 6vw;
  text-align: center;
}

.body__list-items__item-folder__folderlink:hover {
  color: var(--orange);
  cursor: pointer;
}

.body__list-items__item-todo__editbutton,
.body__list-items__item-folder__editbutton,
.body__list-items__item-todo__deletebutton,
.body__list-items__item-folder__deletebutton {
  color: var(--light-blue);
  font-size: 2vh;
  margin-left: 0.5vw;
}

.body__list-items__item-todo__editbutton:hover,
.body__list-items__item-folder__editbutton:hover,
.body__list-items__item-todo__deletebutton:hover,
.body__list-items__item-folder__deletebutton:hover {
  cursor: pointer;
}

.body__add-items {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 40vh;
}

.body__add-items__text {
  width: 60vw;
  height: 3vh;
  background-color: var(--grey-white);
  border-radius: 5px;
  border-style: hidden;
  box-shadow: 1px 1px 4px var(--black);
  margin-top: 2vh;
}

.body__add-items__add-todo,
.body__add-items__add-folder {
  width: 40%;
  height: 5vh;
  font-family: "Mukta", sans-serif;
  color: var(--black);
  font-weight: 800;
  margin-top: 1vh;
  border-radius: 5px;
  border-style: hidden;
  background-color: var(--grey-white);
  transition: all 1s;
}

.body__add-items__add-todo {
  margin-right: 1vh;
}

.body__add-items__add-folder {
  margin-left: 1vh;
}

.body__add-items__add-todo:hover,
.body__add-items__add-folder:hover {
  background-color: var(--orange);
}

.body__list-items__modal {
  display: flex;
  align-content: center;
  position: fixed;
  width: 30vh;
  height: 20vh;
  background-color: var(--clear-white);
  border-radius: 5px;
  box-shadow: 1px 1px 3px var(--black);
  flex-direction: column;
}

.body__list-items__modal-title {
  align-self: center;
  font-family: "Mukta", sans-serif;
  font-weight: 800;
}

.body__list-items__modal-exit {
  align-self: flex-end;
  background-color: var(--grey-white);
  margin-top: 1vh;
  margin-right: 1vh;
  border-style: hidden;
  border-radius: 20px;
}

#editNameText {
  width: 80%;
  height: 2vh;
  border-radius: 5px;
  border-style: hidden;
  box-shadow: 1px 1px 3px var(--black);
  background-color: var(--grey-white);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

.body__list-items__modal-complete {
  width: 30%;
  align-self: center;
  margin-top: 2vh;
  border-style: hidden;
  border-radius: 5px;
  background-color: var(--grey-white);
}

.body__list-items__modal-complete:hover,
.body__list-items__modal-exit:hover {
  background-color: var(--orange);
}
